* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.block {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.text {
	color: aqua;
}

.span {
	padding: 18px;
	font-size: 26px;
	color: #fff;
	background-color: #000;
	text-align: center;
	border-radius: 10px;
	width: 500px;
}

.btn {
	text-align: center;
	padding: 12px;
	color: #000;
	border: 2px solid #000;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
	background-color: transparent;
}